// FILE FROM BOOTSTRAP STUDIO, EDITED BY BANAKIN
.footer-clean {
  padding: 50px 0;
  background-color: var(--body-light);
  color: var(--body-dark);

  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }
  ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;

    a {
      color: inherit;
      text-decoration: none;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
  .item {
    @include media-breakpoint-down(md) {
      text-align: center;
      padding-bottom: 20px;
    }

    &.social {
      text-align: right;

      @include media-breakpoint-down(md) {
        text-align: center;
      }

      > a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin-left: 10px;
        margin-top: 22px;
        color: inherit;
        opacity: 0.8;

        @include media-breakpoint-down(lg) {
          margin-top: 40px;
        }
        @include media-breakpoint-down(md) {
          margin-top: 10px;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }  
  }
  .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
  }
}