{{ define "main" }}

<div style="margin: 0;margin-top: 40px;">
    <div class="container">
        <div id="fail-alert" role="alert" class="alert alert-danger">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <span><strong>Failed </strong>to create resource pack.<br /></span>
        </div>
        <div role="alert" class="alert alert-warning" id="download-alert" style="margin-bottom: 20px;">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <span>If your download doesn't begin you can download your pack <a class="alert-link" id="download-link" href="#">here</a>.<br />
            </span>
        </div>
        <div role="alert" class="alert alert-success" id="created-alert" style="margin-bottom: 20px;">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <span>Resource pack <strong>created!</strong></span>
        </div>
        <div role="alert" class="alert alert-primary" id="creating-alert" style="margin-bottom: 20px;">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <span><strong>Creating</strong> resource pack...</span>
        </div>
    </div>
    <div class="container" style="margin-top: 5px;">
        <div class="row">
            <div class="col-md-8">
                <div class="text-center shadow d-flex flex-column justify-content-lg-center align-items-lg-center justify-content-xl-center"
                    style="border-radius: 20px;padding: 10px;margin-bottom: 40px;">
                    <h3 style="width: 100%;text-align: left;margin-left: 20px;margin-bottom: 15px;">Choose Version:</h3>
                    <div id="formatGroup" class="btn-group" role="group">
                        {{ range .Params.formats }}
                            <button class="btn {{ if .default }} btn-dark {{ else }} btn-light {{ end }}" id="format{{ .id }}" type="button">{{ .display }}</button>
                        {{ end }}
                    </div>
                </div>
                <div class="text-center shadow d-flex flex-column justify-content-lg-center align-items-lg-center justify-content-xl-center" style="border-radius: 20px;padding: 10px;margin-bottom: 40px;">
                    <h3 style="width: 100%;text-align: left;margin-left: 20px;margin-bottom: 15px;">Select Modules:</h3>
                    
                    <!-- START OF CATEGORIES -->
                    {{ range $i, $section := .Params.sections }}
                        <div class="bg-light collapsible" style="width: 100%;padding: 15px;border-radius: 20px;margin-bottom: 15px;">
                            <a class="btn btn-dark" data-toggle="collapse" aria-expanded="{{ if (eq $i 0) }}true{{else}}false{{ end }}" aria-controls="{{ $section.id }}" href="#{{ $section.id }}" role="button" style="max-width: 100%;width: 100%;min-width: 100%;border-radius: 999px;text-align: left;">
                                {{ $section.display }}
                            </a>
                            <div class="collapse {{ if (eq $i 0) }}show{{ end }}" id="{{ .id }}" style="border-radius: 2px;">
                                <div class="d-flex d-xl-flex flex-row justify-content-center flex-wrap justify-content-xl-center">
                                    {{ range sort $section.modules "name"}}
                                        <div id="{{ .id }}" class='module-selector
                                                {{ range .notcompatable }}
                                                    hideFormat{{ . }}
                                                {{ end }}

                                                {{ if eq .origin "vanillatweaks" }}
                                                    vt-origin
                                                {{ else if eq .origin "faithfultweaks" }}
                                                    ft-origin
                                                {{ else }}
                                                    community-origin
                                                {{ end }}
                                            '
                                            {{ if isset . "description" }}
                                                data-toggle="popover" title="{{ .name }}" data-content="{{ .description }}"
                                            {{ end }}
                                            >
                                            <img class='mod-icon' src="{{ .image }}">
                                            <h5 style="margin-top: 10px;">{{ .name }}</h5>
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                    <!-- END OF CATEGORIES -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center shadow d-flex flex-column justify-content-center justify-content-xl-center" style="border-radius: 20px;padding: 20px;margin-bottom: 40px;">
                    <button class="btn btn-orange text-white" id="downloadPack" type="button" style="border-radius: 999px;">
                        Download <i class="fa fa-arrow-down"></i>
                    </button>
                    <p style="margin: 10px;margin-left: 0;margin-right: 0;">Need help? Check out <a class="text-link" href="/posts/how-to-install-your-resource-pack"><span style="text-decoration: underline;">this guide</span></a>.</p>
                </div>
                <div class="text-center shadow d-flex flex-column justify-content-center justify-content-xl-center"
                    style="border-radius: 20px;padding: 20px;">
                    <h4 class="text-center" style="text-align: left;margin-bottom: 15px;">Resources</h4>
                    <a class="btn btn-orange text-white" role="button" style="margin-bottom: 15px;" href="https://sites.google.com/view/faithfultweaks">Homepage</a>
                    <a class="btn btn-success text-white" role="button" style="margin-bottom: 15px;" href="/posts/how-to-install-faithful-x32">Where to Download Faithful</a>
                    <a class="btn text-white btn-purple" role="button" style="border-radius: 999px;margin-bottom: 15px;" href="https://docs.google.com/forms/d/e/1FAIpQLSecQ4j8Ebd2MY4sNmWx508jH9klXJQxLKnM_G6bGwkv5bTcXw/viewform" target="_blank">Submit Feedback</a>
                    <a class="btn text-white btn-discord" role="button" style="border-radius: 999px;margin-bottom: 15px;" href="https://discord.gg/kBMEmDD" target="_blank">Join the Discord</a>
                    <a class="btn btn-danger" role="button" style="border-radius: 999px;" href="https://vanillatweaks.net/" target="_blank">Check out Vanilla Tweaks</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}