{{ range $i, $categoryScope := (sort (sort $.Site.Data "display") "weight" "desc") }}
<div class="bg-light collapsible" style="width: 100%;padding: 15px;border-radius: 20px;margin-bottom: 15px;">
    <a class="btn btn-dark" data-toggle="collapse" aria-expanded="{{ if (eq $i 0) }}true{{else}}false{{ end }}" aria-controls="{{ .id }}" href="#{{ .id }}" role="button" style="max-width: 100%;width: 100%;min-width: 100%;border-radius: 999px;text-align: left;">
        {{ .display }}
    </a>
    <div class="collapse {{ if (eq $i 0) }}show{{end}}" id="{{ .id }}" style="border-radius: 2px;">
        <div class="d-flex flex-row justify-content-center flex-wrap">
            <!-- Normal modules that don't conflict -->
            {{ if isset . "modules" }}
                <div class="d-inline-flex justify-content-center flex-wrap flex-wrap" id="{{ if isset $categoryScope "customFunctionClass"}}{{ $categoryScope.customFunctionClass }}{{else}}normalModules{{end}}">
                    {{ range sort .modules "name"}}
                            <div id="{{ .id }}" class='module-selector
                                    {{ range .notcompatible }}hideFormat{{ . }} {{ end }}

                                    {{ if eq .origin "vanillatweaks" }}
                                        vt-origin
                                    {{ else if eq .origin "faithfultweaks" }}
                                        ft-origin
                                    {{ else }}
                                        community-origin
                                    {{ end }}'

                                {{ if isset . "description" }}
                                    data-toggle="popover" title="{{ .name }}" data-content="{{ .description }}"
                                {{ end }}
                            >
                                <img class='mod-icon' src="{{ .image }}">
                                <h5 style="margin-top: 10px;">{{ .name }}</h5>
                            </div>
                    {{ end }}
                </div>
            {{ end }}

            <!-- Modules that conflict -->
            {{ if isset . "conflictingModules" }}
                {{ range sort .conflictingModules "sortingName" }}
                    <div class="d-inline-flex justify-content-center flex-wrap" id="{{ if isset $categoryScope "customFunctionClass"}}{{ $categoryScope.customFunctionClass }}{{else}}normalModules{{end}}Conflicting">
                        {{ range sort .modules "name"}}
                                <div id="{{ .id }}" class='module-selector
                                        {{ range .notcompatible }}hideFormat{{ . }} {{ end }}

                                        {{ if eq .origin "vanillatweaks" }}
                                            vt-origin
                                        {{ else if eq .origin "faithfultweaks" }}
                                            ft-origin
                                        {{ else }}
                                            community-origin
                                        {{ end }}'

                                    {{ if isset . "description" }}
                                        data-toggle="popover" title="{{ .name }}" data-content="{{ .description }}"
                                    {{ end }}
                                >
                                    <img class='mod-icon' src="{{ .image }}">
                                    <h5 style="margin-top: 10px;">{{ .name }}</h5>
                                </div>
                        {{ end }}
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}