<!DOCTYPE html>
<html lang="en">
    {{- partial "invisible/head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
            <div class="container shadow article" style="margin-top: 40px;border-radius: 20px;margin-bottom: 40px;padding: 30px;padding-top: 15px;padding-bottom: 15px;">
                <h1>{{ .Page.Params.title }}</h1>
                {{ .Content }}
            </div>
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "invisible/bottom.html" . -}}
    </body>
</html>