<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Pages</h3>
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <!--<li><a href="/posts/how-to-install-your-resource-pack">Downloading Faithful Tweaks</a></li>
                        <li><a href="/posts/how-to-install-faithful-x32">Installing Faithful</a></li>-->
                        <li></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Related</h3>
                    <ul>
                        <!--<li><a href="https://faithful.team/" target="_blank">Faithful Team</a></li>-->
                        <li><a href="https://faithfultweaks.com/" target="_blank">Compliance Tweaks</a></li>
                        <li><a href="https://vanillatweaks.net/" target="_blank">Vanilla Tweaks</a></li>
                        <li><a href="https://www.littleimprovements-custom.tk/" target="_blank">Little Improvements: Custom</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Get In Touch</h3>
                    <ul>
                        <li><a href="https://github.com/Vanilla-Extract/VanillaExtract" target="_blank">Github</a></li>
                        <li><a href="https://discord.gg/av85z28" target="_blank">Discord</a></li>
                        <li><a href="https://twitter.com/ExtractVanilla_" target="_blank">Twitter</a></li>
                        <!--<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSecQ4j8Ebd2MY4sNmWx508jH9klXJQxLKnM_G6bGwkv5bTcXw/viewform" target="_blank">Google Form</a></li>-->
                        <li></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <a class="border-white" href="https://twitter.com/ExtractVanilla_" target="_blank"><i class="fab fa-twitter" style="font-size: 31px;"></i></a>
                    <a class="border-white" href="https://discord.gg/av85z28" target="_blank"><i class="fab fa-discord" style="font-size: 31px;"></i></a>
                    <a class="border-white" href="https://github.com/Vanilla-Extract/VanillaExtract" target="_blank"><i class="fab fa-github" style="font-size: 31px;"></i></a>
                    <p class="copyright" style="font-size: 19px;">Vanilla Extract © 2020</p>
                </div>
            </div>
        </div>
    </footer>
</div>
