<nav class="navbar navbar-light navbar-expand-md shadow">
    <div class="container-fluid"><a class="navbar-brand" href="/index.html"><img src="/assets/img/logo.png" style="width: 65px;margin-right: 11px;height: 65px;">FaithfulTweaks</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav"></ul><a class="btn btn-primary text-white d-flex flex-row justify-content-center flex-nowrap ml-auto btn-discord" role="button" href="https://discord.gg/kBMEmDD" target="_blank" style="border-radius: 999px;"><i class="fab fa-discord" style="font-size: 29px;margin-right: 8px;"></i>Discord</a>
            <a
                class="btn btn-dark text-white d-flex flex-row justify-content-center flex-nowrap" role="button" href="https://github.com/Banakin/FaithfulTweaks" target="_blank" style="border-radius: 999px;margin-left: 10px;"><i class="fa fa-github" style="font-size: 29px;margin-right: 8px;"></i>Github</a>
    </div>
    </div>
</nav>